/* ===========================
   COLORES
=========================== */

$primary: #0284c7;
$secondary: #6c757d;

$success: #198754;
$danger: #dc3545;
$warning: #ffc107;
$info: #0dcaf0;

$light: #f8f9fa;
$dark: #212529;

$background: #f4f6f9;

$text: #343a40;

$border: #dee2e6;


/* ===========================
   SOMBRAS
=========================== */

$shadow-sm: 0 .125rem .25rem rgba(0,0,0,.075);

$shadow-md: 0 .5rem 1rem rgba(0,0,0,.15);

$shadow-lg: 0 1rem 2rem rgba(0,0,0,.20);


/* ===========================
   BORDES
=========================== */

$radius-sm: 6px;
$radius-md: 10px;
$radius-lg: 16px;


/* ===========================
   ESPACIADOS
=========================== */

$space-xs: .25rem;
$space-sm: .5rem;
$space-md: 1rem;
$space-lg: 2rem;


/* ===========================
   TIPOGRAFÍA
=========================== */

$font-family: "Poppins", sans-serif;


/* ===========================
   TRANSICIONES
=========================== */

$transition: all .3s ease;

/* ===========================
   LAYOUT
=========================== */

$navbar-height: 70px;

$sidebar-width: 270px;

$content-max-width: 1600px;